@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    background-color:#C1CACA;
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 1fr 1fr;
    padding: 16px;
    justify-content: center;
    align-content: center;
}

.cell{
    text-align: center;
    padding: 5px;
}

.cell:hover{
    background-color:#8CA9B2;
}

footer{
    background-color: #C0ADC2;
    border-top: 1px solid #45214A;
    padding: 16px;
    font-family: 'Concert One', cursive;
    color: #45214A;
}

img{
    width: 200px;
    height: 200px
}

nav{
    background-color:#C0ADC2;
    border-bottom: 1px solid #45214A;
    padding: 16px;
    font-family: 'Concert One', cursive;
}

h1{
    color: #1A6566;
    padding: 16px, 0;
    text-align: center;
    font-family: 'Concert One', cursive;

}

h2{
    color:#45214A;
    padding: 16px, 0;
    text-align: center;
    font-family: 'Concert One', cursive;
}

a{
    text-decoration: none;
}

main{
    padding: 16px;
    font-family: 'Concert One', cursive;
}

.recipe{
    text-align: left;
}

tr:nth-child(even) {
    background-color:#8CA9B2;
}
